altair==5.5.0
flake8==7.2.0
ipython==9.1.0
jupyterlab==4.4.1
notebook==7.4.1
openpyxl==3.1.5
pandas==2.2.3
prophet==1.1.6
pylint==3.3.6
pytest==8.3.5
st-pages==1.0.1
streamlit==1.44.1
vegafusion==2.0.2
vegafusion-python-embed==1.6.9
vl-convert-python==1.7.0